
.pilots-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.pilot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.pilot-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.no-pilots {
  margin-top: 10px;
  font-style: italic;
  color: gray;
}

.films-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.films {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.film-image {
  width: 100px;
  height: auto;
  object-fit: cover;
}
