
<nav class="navbar navbar-dark" style="margin-top: 20px;">
  <div class= "container d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-center" style="margin-left: 40%;">
      <a class="navbar-brand" href="#">
        <img src="../../assets/star-wars-logo-983.png" alt="Star Wars Logo" width="150">
      </a>
    </div>
    <div class="d-flex">
      <div class="ml-auto">
        <a class="nav-link" href="#" style="color: rgb(253, 226, 57);">Log in</a>
        <a class="nav-link" href="#" style="color: rgb(253, 226, 57);">Sign up</a>
      </div>
    </div>
  </div>
</nav>

<div class="row ">
  <nav class="navbar navbar-dark" style="background-color: #000000;">
      <div class="main-nav container-fluid">
          <div class="col-1 col-sm-2 col-md-4"></div>
          <div class="col-5 col-sm-4 col-md-2 text-center nav-buttons p-2">
              <a class="navbar-brand text-white-50"
                routerLinkActive="active"
                routerLink="/"
                [routerLinkActiveOptions]={exact:true}
                (click)="setHomeActive()"
                >HOME
                <span class="horizontal-bar"
                [ngClass]="router.url ==='/' || router.url ==='/login' ? 'active-bar' : 'hidden-bar'"
                ></span>
              </a>
          </div>
          <div class="col-5 col-sm-4 col-md-2 text-center nav-buttons p-2">
              <a class="navbar-brand text-white-50"
                (click)="setStarShipActive()"
                routerLinkActive="active"
                routerLink="/starships/"
                >STARSHIPS
                <span class="horizontal-bar"
                [ngClass]="router.url ==='/starships' ? 'active-bar' : 'hidden-bar'"
                ></span>
              </a>
          </div>

<div style="background-color: grey; height: 1px;"></div>
