/* CSS Reset to remove default styles */
html, body, p {
  margin: 0;
  padding: 0;
}

.crawl-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 60vh;
  color: gold;
  overflow: hidden;
  transform-origin: 50% 95%;
  transform: perspective(300px) rotateX(25deg);
  -webkit-transform: perspective(300px) rotateX(25deg);
}


.crawl-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: crawl-animation 30s linear infinite;
  transform-origin: top;
}

.crawl-text {
  font-family: "News Gothic", Arial, sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  animation: scroll 50s linear 0s infinite;

}

@keyframes crawl-animation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-300%);
  }
}

P{
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .crawl-text {
    font-size: 2rem; /* Adjust the font size for smaller screens */
  }
}

@media (max-width: 400px) {
  .crawl-text {
    font-size: 1.5rem; /* Adjust the font size for even smaller screens */
  }
}









