<div class="crawl-container">
  <div class="crawl-content ">
    <p class="crawl-text">
      A long time ago in a galaxy far, far away
      the eternal struggle between Angular and React raged on.
    </p>
    <p class="crawl-text">
      The events that transpired in ItAcademy left and indelible mark
      on all students, shaping its destiny for generations to come.
    </p>
    <p class="crawl-text">
      And so, the story continues, with new heroes, villains, and
      students emerging in this ever-expending universe. Here is presented
      last sprint of student<br> Carlota Figueras.
    <br>
       <img src="../../assets/star-wars-logo-983.png" alt="Star Wars Logo" width="150">

    </p>
</div>



