<!-- <h5 style="color: aqua;">Welcome Page</h5> -->

<div class="crawl-container">
  <div class="crawl-content">
    <p class="crawl-text">
      A long time ago in a galaxy far, far away...
    </p>
    <p class="crawl-text">
      Text content goes here...
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Aspernatur, qui laborum assumenda, consequuntur quo optio vitae,
       aperiam magni inventore cupiditate porro esse at velit ut
       similique perferendis facilis quia quaerat.
       <img src="../../assets/star-wars-logo-983.png" alt="Star Wars Logo" width="150">
    </p>
</div>

